/*Header*/
h1 {
    font-size: 29px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    line-height: 0.5;
    text-decoration: none;
    padding: 5px 0 10px 0;
    margin: 80px 50px 10px 50px;
    text-align:left;
    position: relative 
}

body{
  background-color: #e4f1fe
 
}


* {
  border: 2px solid 
  margin: 5px
}




/*
.menuTitle {
    font-size: 30pt;
}

.menuLink {
    font-size: 20px
    font-family:Arial, Helvetica, sans-serif
    display: flex;
    line height: 0.2;
    align: right;
    position: absolute;
    top: 8px;
    right: 16px;
}
*/


/* Style the links inside the navigation bar */
.topnav-right a {
  float:left;
  color: #f2f2f2;
  text-align: left;
  /* padding: 4px 1px 1px 110px;*/
  margin: 5px 150px 5px 50px; 
  padding: 8px 50px 8px 0;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav-right a:hover {
  background-color: #22313f;
  color: #8dc6ff
}

/* Add a color to the active/current link */
.topnav-right a.active {ß
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  background-color: #22313f;
  overflow: hidden;
}

.servicesImage {

  float: centre;
  display: left;
  align-items: left;
  justify-content: left

}

.imageCenter {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }


  .homePageImages {
    max-width: 400px
  }